<div id="container">
	<h1>GenderGuesser</h1>
	<h2>GenderGuesser (GG) is a machine learning application that uses supervised learning to predict   gender based on height and weight.</h2>
	<p><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8&client=ubuntu#q=unit%20converter">Need a unit converter?</a></p>

	<%= render 'form' %>

	<div class="results">
		<p id="probability"></p>
		<p id="gender"></p>	
	</div>
</div>

