// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #container {
 	background-color: #FFFFFF;
 	max-width: 800px;
 	text-align: center;
 	min-height: 350px;
 	padding: 25px 35px;
 	margin: 50px auto;
 	box-shadow: 8px 0px 10px #4D4DFF, -8px 0px 10px #F433FF;
 }

#new_person {
	margin: 40px 0;
}

 #gender {
 	font-size: 1.5em;
 }